{% load static %}{# CSS do tema, na ordem: tokens primeiro, telas especificas por ultimo. #}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
<link rel="icon" href="{% static 'starhub/img/favicon-32.png' %}" type="image/png" sizes="32x32">
<link rel="icon" href="{% static 'starhub/img/favicon-192.png' %}" type="image/png" sizes="192x192">
<link rel="apple-touch-icon" href="{% static 'starhub/img/apple-touch-icon.png' %}">
<link rel="stylesheet" href="{% static 'starhub/css/tokens.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/base.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/layout.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/header.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/header-menus.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/componentes.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/componentes-extra.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/checkbox-switch.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/widgets.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/calendario.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/json-widgets.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/json-imagens.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/select2-tema.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/tabelas.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/admin.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/admin-app-list.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/admin-changelist.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/admin-lista.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/linha-detalhe.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/marca.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/admin-pagination.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/admin-filtros.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/admin-form-workspace.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/admin-form.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/admin-campos.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/admin-colunas.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/lista-modal.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/admin-object-tools.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/modal-etapas.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/modal-etapas-campos.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/tarefas.css' %}">
<link rel="stylesheet" href="{% static 'starhub/css/confirmar.css' %}">
